/* Requisito 2 */
#color-palette {
    display: flex;
    margin-top: 10px;
  }
  
  #pixel-board{
    border: 1px solid black;
  }



  .color {
    border: 1px solid black;
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }
  
  .pixel{
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    width: 40px;
  }